@import "/fonts/font-girloy/stylesheet.css";

//Base
@import "base/reset";
@import "base/vars";
@import "base/base";

//Blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-list";
@import "blocks/cart";
@import "blocks/search-form";
@import "blocks/info-dot";
@import "blocks/info-hint";
@import "blocks/benefit";
@import "blocks/benefits";
@import "blocks/products";
@import "blocks/read-more";
@import "blocks/tab-controls";
@import "blocks/card";
@import "blocks/slider";
@import "blocks/swiper";
