.benefits{
  padding: clamp(20px, -1.726rem + 14.88vw, 120px);
}

.benefits__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @include media-tablet(){
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(30px, 0.982rem + 4.46vw, 60px);
  }
  @include mobile-s(){
    grid-template-columns: 1fr;
  }
}

.benefits__title{
  font-size: clamp(22px, 1.702rem + 1.49vw, 42px);
  font-weight: 700;
  max-width: 260px;
}
