.card{
  width: 268px;
}

.card__photo{
  height: 240px;
  background-color: var(--slider-bg-color);
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.card__img{
  margin-top: -50px;
}
.card__description{
  background-color: var(--slider-bg-color);
  border-radius: 0 0 20px 20px;
}