.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 65px;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
}

.nav-list__item{
  position: relative;
}

.nav-list__link{
  transition: opacity 0.1s ease-in;
  &:hover{
    opacity: 0.8;
  }
  &-dropdown{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    &::after{
      content: url("/icons/arrow-up.svg");
      height: 18px;
    }
  }
}

