.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 65px;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
}
.nav-list__item{

}
.nav-list__link{

}