.nav{
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}
.logo{
  align-self: center;
  letter-spacing: 0.28px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
