.products{
  background-color: var(--product-bg-color);
  padding: 50px 0;
}

.products__title{
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
}

.products__tabs{
  margin-bottom: 80px;
  text-align: center;
}

.products__slider{
  margin-bottom: 60px;
}

.products__link{
  text-align: center;

}