.slider{
  position: relative;
  display: flex;
  gap: 42px;
}

.slider__btn{
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: var(--header-text-color);
   border-radius: 50%;
   box-shadow: 0 7px 19px 0 rgba(0,0,0,0.06);
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
}

.slider__btn--prev{
  left: 0;
  top: 50%;
  transform: translate(-50%,50%);
}

.slider__btn--next{
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
}