.sub-nav{
  display: grid;
  font-size: 16px;
  gap: 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--footer-bg-color);
  color: var(--header-text-color);

  a{
    color: var(--header-text-color);
    transition: color 0.1s ease-in;

    &:hover{
      color: var(--acent);
    }
  }
}

.sub-nav__link{

}
.sub-nav__item{

}