.tab-controls{
  display: inline-flex;
  padding: 6px;
  align-items: center;
  background-color: var(--tab-controls-bg);
  border-radius: 44px;
}

.tab-controls__btn{
  cursor: pointer;
  display: flex;
  height: 45px;
  padding: 7px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: var(--tab-controls-bg);
  opacity: 0.8;
  font-weight: 500;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
  
  &:hover{
    background-color: rgba(255,255,255,0.5);
  }

  &-active{
    background-color: var(--header-text-color);

    &:hover{
      background-color: var(--header-text-color);
    }
  }
}
