:root{
  --text-color: #1E1E1E;
  --text-muted: #8D8D8D;
  --text-blue-product :#0D1B39;
  --acent: #E58411;

  --header-text-color: #FFFFFF;
  --footer-text-color: rgba(255,255,255,0.8);

  --ui-product-accent-color: #0D1B39;
  --ui-orange-color:#E58411;
  --ui-turquoise-color: #00D6C9;
  --ui-gray-color: #7C7C7C;
  --footer-bg-color: #2D2F33;
  --product-bg-color: #F7F7F7;
  --tab-controls-bg: #EEEEEE;
  --slider-bg-color: #FAFAFA;


  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer: "Inter", sans-serif;
}

body{
  color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--footer-text-color);
}
li{
  list-style-type: none;
}
@mixin retina-bg ($image){
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: $image;
  }
}
@mixin laptop(){
  @media(max-width: 1400px){
    @content;
  }
}
@mixin media-tablet(){
  @media (max-width: 992px){
    @content;
  }
}

@mixin mobile(){
  @media (max-width: 819px) {
    @content;
  }
}

@mixin mobile-s(){
  @media (max-width: 629px) {
    @content;
  }
}
