:root{
  --text-color: #1E1E1E;
  --text-muted: #8D8D8D;
  --text-blue-product :#0D1B39;
  --acent: #E58411;

  --header-text-color: #FFFFFF;
  --footer-text-color: #FFFFFF;

  --ui-product-accent-color: #0D1B39;
  --ui-orange-color:#E58411;
  --ui-turquoise-color: #00D6C9;
  --ui-gray-color: #7C7C7C;
  --footer-bg-color: #2D2F33;
  --product-bg-color: #F7F7F7;
  --tab-controls-bg: #EEEEEE;


  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer: "Inter", sans-serif;
}

body{
  color: var(--text-color);
}